.App {
  text-align: center;
}

.main-header {
  background-color: #f17b2b;
  height: calc(10vw + 1vmin);
  display: flex;
  flex-flow: column;
}

.top-contact-link {
  background-color: black;
  height: calc(3vw + 1vmin);
  color: white;
  font-size: calc(1vw + 1vmin);
  padding: 10px 0 0 0;
}

.main-header-nav {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  height: calc(7vw + 1vmin);
}
.top-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: calc(1vw + 1vmin);
  padding: calc(1vw + 1vmin) calc(1.2vw);
  max-height: 8vw;
}

img {
  max-width: 100%;
  height: calc(5vw + 1vmin);
  width: calc(15vw + 1vmin);

  /* padding: 10px 0; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  color: rgb(245, 241, 241);
  text-decoration: none;
  margin: 0 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
