@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: calc(5px + 1vmin);
}
body {
  margin: auto;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: rgb(252, 245, 245);
}

/* header */

.main-header {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  background-color: #f17b2b;
  position: fixed;
  top: 0;
}

.top-contact-link {
  background-color: black;
  height: 35px;
  color: white;
  padding: 10px;
  font-size: calc(1px + 1rem);
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

img {
  width: auto;
  height: calc(35px + 1vw);
  margin: calc(1px + 1rem) 0;
}

.header-right-menu {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1px + 1rem) 0;
  visibility: visible;
}

.item {
  font-size: 10px;
  padding: 10px;
}

/* home */

.home {
  margin-bottom: calc(1px + 1rem);
  position: relative;
  z-index: -1;
  top: calc(140px + 1vw);
}

.slide-banner {
  background-color: rgba(0, 0, 0, 0.281);
  padding: calc(10px + 1rem) calc(25px + 1rem);
}

.banner-heading {
  background-color: rgba(0, 0, 0, 0.336);
  padding: calc(15px + 1rem) 0;
  margin: 0 calc(15px + 1rem);
}

.home-body-parts {
  background-color: #fff5ef;
}

p {
  color: orange;
  padding-bottom: calc(5px + 1rem);
}

/* media-query */

/* ---------home---------- */

.hamburger {
  visibility: hidden;
}
.hamburger_dropdown {
  height: auto;
  position: relative;
  display: inline-block;
  right: 10vw;
  top: -10px;
}

.hamburger_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f47b2a;
  min-width: calc(10px + 1rem);
  width: 90vw;
  right: 1vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.643);
  z-index: 1;
  text-align: center;
  margin-right: 10px;
}

.hamburger_dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
}

.hamburger:hover .hamburger_dropdown_content {
  display: block;
}

/* media-query */

@media all and (max-width: 600px) {
  .header-right-menu {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .hamburger {
    height: auto;
    visibility: visible;
    right: 40vw;
    top: -10px;
  }

  /* .hamburger_dropdown_content {
    display: block;
    width: 250px;
    position: absolute;
    right: 30px;
  } */
}
