@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: calc(5px + 1vmin);
}
body {
  margin: auto;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}

.App {
  display: flex;
  flex-flow: column;
}

a {
  text-decoration: none;
  color: rgb(252, 245, 245);
}

h1 {
  font-weight: 3rem;
  padding-top: 30px;
}

/* header */

.main-header {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  background-color: #f17b2b;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.top-contact-link {
  background-color: black;
  height: 35px;
  color: white;
  padding: 10px;
  font-size: calc(1px + 1rem);
}

.nav-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

img {
  width: auto;
  height: calc(35px + 1vw);
  margin: calc(1px + 1rem) 0;
}

.header-right-menu {
  display: flex;
  flex-wrap: wrap;
  margin: calc(1px + 1rem) 0;
  visibility: visible;
}

.item {
  font-size: 10px;
  padding: 10px;
}

/* home */

.home {
  margin-bottom: calc(1px + 1rem);
  position: relative;
  top: calc(140px + 1vw);
}

.slide-banner {
  background-color: rgba(0, 0, 0, 0.281);
  padding: calc(10px + 1rem) calc(25px + 1rem);
}

.banner-heading {
  background-color: rgba(0, 0, 0, 0.336);
  padding: calc(15px + 1rem) 0;
  margin: 0 calc(15px + 1rem);
}

.home-body-parts {
  background-color: #fff5ef;
}

.one-line {
  display: flex;
  justify-content: space-evenly;
}
.one-part > p {
  width: 100px;
}
p {
  color: orange;
  padding-bottom: calc(5px + 1rem);
}

/*---------------------------- about us ---------------------------- */

.common_container {
  position: relative;
  top: calc(150px + 1rem);
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin: auto;
  align-items: stretch;
}

.aboutus-body {
  padding-top: 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 100vh;
  flex-wrap: wrap;
}
.clientimage {
  width: 20vw;
  height: 27vw;
}

.aboutus-body-parts {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutus-details {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 40vw;
  height: 30vw;
  text-align: left;
  padding-left: 20px;
}
.paragraph {
  color: black;
}
.textLink {
  color: orange;
}

/* ----------------- faq ------------------ */
.faqs-page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}
.faq-page-body-parts {
  margin: auto;
  margin-top: calc(50px + 1rem);
  padding: 0 calc(35px + 1rem);
}

.onefaq {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.onefaq-body-parts {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: calc(15px + 1rem);
}
.allfaqs {
  margin: 0 calc(15px + 1rem);
}

.allfaqs_parts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}

/* ----------- contactbox ------  */
.box {
  margin-top: 10px;
  padding: 30px;
  background-color: #fff8f8;
  height: calc(18vw + 1rem);
  width: 150px;
  border: 1px solid black;
}

.box > button {
  margin-top: 10px;
  background-color: #fd7a02;
  border: none;
  padding: 10px 15px;
}
.box > ul {
  font-size: 10px;
  padding: 0px 5px;
  text-align: left;
  color: orange;
}

/* common-container */
.common_container {
  display: flex;
}

.common_container-body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80px;
}

.common_container-parts {
  display: flex;
  flex-flow: column;
  width: 350px;
  text-align: left;
  padding: 30px;
}
.common_container-one-part-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid orange;
  margin: 1vw 10vw;
  padding: 20px 0;
}

.hours_service {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.hours_service > ul {
  padding-top: 5px;
}

.hours_service > ul > li {
  padding: 5px 0;
}

/* reviews */
.review-container-parts {
  display: flex;
}

.all-reviews {
  height: 90vw;
}

/* admin button controll */
.admin-button {
  /* background-color: orange; */
  display: flex;
  flex-flow: column;
  margin: 0 2vw;
}

.admin-single-button {
  color: black;
  margin: 10px 5px;
  padding: 15px 20px;
  background-color: orange;
}

.sideContactBox {
  color: black;
}

/* create faq form */

.form-field {
  margin: 5px 75px;
  background-color: rgba(246, 203, 175, 0.924);
  border: none;
  padding: 10px 15px;
}

/*------------------------ prices and packages-------------------------------- */
.onePrice {
  display: flex;
  justify-content: center;
  margin-bottom: calc(20px + 1rem);
}

.onePrice-body-parts {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.onePrice-parts {
  background-color: #f8c09a;
  padding: 10px;
  width: 250px;
  color: black;
  justify-content: space-evenly;
}

.main-price-admin {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  height: 100vw;
}

/* ------------------------ header ------------------- */

.hamburger {
  visibility: hidden;
}
.hamburger_dropdown {
  height: auto;
  position: relative;
  display: inline-block;
  right: 10vw;
  top: -10px;
}

.hamburger_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f47b2a;
  min-width: calc(10px + 1rem);
  width: 90vw;
  right: 1vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.643);
  z-index: 1;
  text-align: center;
  margin-right: 10px;
}

.hamburger_dropdown_content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
}

.hamburger:hover .hamburger_dropdown_content {
  display: block;
}

/*---------- bottom banner --------------- */

.bottompic {
  position: inherit;
}

.bottompic-contact {
  padding: 8vw 0;
  display: flex;
  flex-flow: column;
  text-align: center;
  background-image: url(./assets/bottompic.jpg);
  background-size: cover;
  height: 5vw;
}
.bottompic-contact > p {
  color: black;
  font-size: 13px;
  font-weight: 900;
}

/* ----------------------- Footer --------------- */

.footer {
  background-color: black;
  color: white;
  padding: 15px 10px;
  margin: auto;
  width: 100%;
  height: 110px;
  position: inherit;
  bottom: 0px;
  font-size: 25px;
  z-index: 0;
}
.footer > p {
  color: white;
  font-size: 10px;
}

/*------------------------ media-query ------------------------- */

@media all and (max-width: 1000px) {
  .bottompic-contact {
    padding-top: 8vw 0;
    height: 10vw;
  }
  .footer {
    height: 110px;
    font-size: 20px;
    padding: 10px 5px;
  }

  .allfaqs_parts {
    display: flex;
    flex-direction: row;
  }
}

@media all and (max-width: 900px) {
  .aboutus-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vw;
  }
  .box {
    width: calc(60vw + 1rem);
    margin: auto;
    margin-bottom: 10px;
  }
  .faqs-page-body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 80vh; */
  }
}

@media all and (max-width: 800px) {
  .common_container-one-part-child {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 700px) {
  .box {
    height: calc(25vw + 1rem);
  }
  .box > button {
    margin-top: 0;
  }
  .aboutus-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vh;
  }
  .aboutus-body-parts {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .aboutus-details {
    width: 80vw;
    height: auto;
    margin-bottom: 20px;
  }
}

@media all and (max-width: 600px) {
  .common_container {
    height: 100vh;
  }
  .header-right-menu {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .hamburger {
    height: auto;
    visibility: visible;
    right: 40vw;
    top: -10px;
  }

  .one-line {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .one-part > p {
    margin: auto;
  }

  .bottompic-contact {
    height: 15vw;
  }

  .footer {
    height: 140px;
    font-size: 18px;
    padding: 10px 5px;
    position: absolute;
    bottom: -100px;
  }

  .onefaq {
    display: flex;
    flex-direction: column;
  }
  .one-faq-control {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-price-admin {
    display: flex;
    flex-direction: column;
  }
  .prices_admin {
    justify-content: end;
  }
  .onePrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .onePrice > button {
    width: 10vw;
    align-self: center;
  }
}

@media all and (max-width: 500px) {
  .bottompic-contact {
    padding-top: 8vw 0;
    height: 20vw;
  }

  .footer {
    position: absolute;
    bottom: -130px;
  }
  .box {
    height: calc(33vw + 1rem);
  }
}

@media all and (max-width: 400px) {
  .clientimage {
    width: 50vw;
    height: 60vw;
  }

  .bottompic-contact {
    padding-top: 7vw 0;
    height: 25vw;
  }

  .footer {
    position: absolute;
    bottom: -250px;
    height: 125px;
    font-size: 13px;
    padding: 8px 5px;
  }
  .box {
    height: calc(35vw + 1rem);
  }
}
